<div class="header" style="position: fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="logo1">
                    <h1 style ="margin-top: 11px; font-weight: bold;color: white;font-size: 50px;height: 63px;">Juno</h1>
                </div>
            </div>
            <div class="col-md-10 col-sm-10">
                <!-- <div class="header_top" style="background: none">
                    <div class="row">
                        <div class="col-md-3" style="float: right">
                            <ul class="usermenu">
                                <li><a href="assets/home_login" class="log">Đăng nhập</a></li>
                                <li><a href="assets/DonHang" class="reg">Đơn hàng</a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="clearfix"></div>
                <div class="header_bottom">
                    <ul class="option">
                        <li id="search" class="search">
                            <form #formG='ngForm' (submit)="search(formG.value)">
                                <input type="hidden" name="_token" value="9ZHdjhe29libr6JnJYmlsw0AEWk3WJzbXYnbTUQ6"> <input class="search-submit" type="submit" value="">
                                <input ngModel name="Seacrh" class="search-input" placeholder="Nhập tên sản phẩm cần tìm..." type="text" value="">
                            </form>


                        </li>
                        <li class="option-cart">
                            <a (click)="CartNavigate()" class="cart-icon">cart <span id="no" class="cart_no">{{getnumberOfItems()}}</span></a>
                            <ul *ngIf="getnumberOfItems ()>0" class="option-cart-item">
                                <div id="change-item-cart">
                                    <li *ngFor="let item of getlistCartItem()">
                                        <div class="cart-item" >
                                            <div class="image"><img src="assets/backend/images/img/{{item.tui.hinhAnh}}" alt=""></div>
                                            <div class="item-description">
                                                <p class="name">{{item.tui.tenTuiXach}}</p>
                                                <p>
                                                </p>
                                                <h4 style="font-size: 13px;">{{item.dongia|number}} VND x {{item.soluong}}</h4>
                                                <p></p>

                                            </div>
                                            <div class="right">
                                                <p class="price">
                                                    <a href="javascript:" (click)="deleteItem(item.tui.maTuiXach)" class="remove"><img data-id="1" src="assets/User/images/remove.png" alt="remove"></a>
                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <li>
                                    <button class="checkout" [routerLink]="['/CheckOut']">Thanh toán</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle
                              navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active dropdown">
                                <a (click)="BackToHomePage()" class="dropdown-toggle">Trang chủ</a>

                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh mục sản phẩm</a>
                                <div class="dropdown-menu mega-menu" style="width: 150px;">
                                    <div class="row">
                                        <div id="menu_category" class="col-md-6 col-sm-6">
                                            <ul class="mega-menu-links">
                                              <!-- <ul class="mega-menu-links" id="categoryList"> -->
                                                <li style="cursor: pointer;"  id="{{cate.maLoaiTuiXach}}" *ngFor="let cate of category"><a (click)="getTuiByCate(cate.maLoaiTuiXach)">{{cate.tenLoai}}</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <li><a routerLink="/news">Tin tức</a></li>

                            <li><a routerLink="/contact">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
