<div class="container_fullwidth">
    <div class="container shopping-cart">

        <div class="row">
            <div class="col-md-12">
                <h3 class="title">
                    Giỏ hàng
                </h3>
                <div class="clearfix">
                </div>

                <table class="shop-table">
                    <thead>
                        <tr>
                            <th>
                                Mã
                            </th>
                            <th style ="width:150px">
                                Hình ảnh
                            </th>
                            <th style ="width:200px">
                                Tên sản phẩm
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Đơn giá
                            </th>
                            <th>
                                Xóa
                            </th>
                        </tr>
                    </thead>
                    <tbody> 


                        <tr id="{{item.maSanPham}}" *ngFor="let item of getlistCartItem()">
                            <td>
                                {{item.maSanPham}}
                            </td>
                            <td style ="width:150px">
                                <img src="assets/backend/images/img/{{item.tui.hinhAnh}}" alt="">
                            </td>
                            <td style ="width:200px">
                                        {{item.tui.tenTuiXach}}
                            </td>

                            <td>
                                <input value="{{item.soluong}}" style="width: 70px" min="0" type="number" name="" data-id="{{item.maSanPham}}">
                            </td>
                            <td>
                                    <h6 class="red">
                                      {{item.dongia|number}} Đ
                                              </h6>
                            </td>
                            <td>
                                <span>
                                    <img (click)="deleteItem(item.maSanPham)" style="cursor: pointer;" src="assets/User/images/remove.png" alt="">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <button class="pull-left">
                                          Tiếp tục mua sắm
                                      </button>
                                <button class=" pull-right" (click)="updateCartQuanty()">
                                          Cập nhật giỏ hàng
                                      </button>
                            </td>
                        </tr>
                    </tfoot>

                </table>
                <div class="clearfix">
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="shippingbox">
                            <div class="subtotal">
                            </div>
                            <div class="grandtotal">
                                <p style ="font-size: 17px; float:left">
                                    Tổng tiền:
                                </p>
                                <p style ="float:right; font-size: 17px;font-weight: bold;color: #ff0050;">
                                      {{total()|number}} Đ
                                </p>
                            </div>
                            <button id="checkOut" style ="float:right; margin-top:25px">
                                  <a [routerLink]="['/CheckOut']"></a> Tiến hành thanh toán
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix">
        </div>
    </div>
</div>