<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="products-details">
                    <div class="preview_image">
                        <div class="preview-small">
                            <div style="height:311px;width:328px;" class="zoomWrapper"><img id="zoom_03" style="height:311px;width:328px;" src="assets/backend/images/img/{{tuixach.hinhAnh}}" data-zoom-image="http://localhost/blog/public/backend/images/img/jtPONJ4h.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="products-description">
                        <h5 class="name">
                            {{tuixach.tenTuiXach}}
                        </h5>

                        <p>
                        </p>
                        <p></p>
                        <hr class="border">
                        <div class="price">
                            Giá :
                            <span class="new_price">
                              {{tuixach.gia|number}}Đ
                          </span>
                        </div>
                        <hr class="border">
                        <div class="wided">

                            <div class="button_group">
                                <a (click)="addToCart(tuixach.maTuiXach)" href="javascript:">
                                    <button class="button">
                                      Thêm giỏ hàng
                                  </button>
                                </a>
                                <button class="button favorite">
                                  <i class="fa fa-heart-o">
                                  </i>
                              </button>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <hr class="border">
                        <img src="images/share.png" alt="" class="pull-right">
                    </div>

                </div>
                <div class="clearfix">
                </div>

                <div class="clearfix">
                </div>
            </div>
            <div class="col-md-3">
                <div class="special-deal leftbar">
                    <h4 class="title">
                        <strong>
                          Sản Phẩm
                      </strong> liên quan
                    </h4>
                    <div class="special-item" *ngFor="let item of relatedProducts">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/backend/images/img/{{item.hinhAnh}}" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                              {{item.tenTuiXach}}
                            </p>
                            <h5 class="price">
                              {{item.gia|number}}Đ
                            </h5>
                        </div>
                    </div>
                    <!-- <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/User/images/products/thum/b1f5c1055af79ba9c2e62.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Licoln Corner Unit
                            </p>
                            <h5 class="price">
                                300,000Đ
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/User/images/products/thum/43863576ae846fda36953.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Licoln Corner Unit
                            </p>
                            <h5 class="price">
                                300,000Đ
                            </h5>
                        </div>
                    </div> -->
                </div>
                <div class="clearfix">
                </div>
                <!-- <div class="product-tag leftbar">
                    <h3 class="title">
                        <strong>
                          Thẻ
                      </strong> sản phẩm
                    </h3>
                    <ul>
                        <li>
                            <a href="#">
                              Lincoln us
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              SDress for Girl
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Corner
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Window
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              PG
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Oscar
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Bath room
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              PSD
                          </a>
                        </li>
                    </ul>
                </div> -->
                <div class="clearfix">
                </div>
                <!-- <div class="get-newsletter leftbar">
                    <h3 class="title">
                        Kết nối với
                        <strong>
                          Flat shop
                      </strong>
                    </h3>

                    <form>
                        <input class="email" type="text" name="" placeholder="Email...">
                        <input class="submit" type="submit" value="Kết nối">
                    </form>
                </div> -->
                <div class="clearfix">
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
