<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="products-details">
                    <div class="preview_image">
                        <div class="preview-small">
                            <div style="height:311px;width:328px;" class="zoomWrapper"><img id="zoom_03" style="height:311px;width:328px;" src="assets/backend/images/img/{{tuixach.hinhAnh}}" data-zoom-image="http://localhost/blog/public/backend/images/img/jtPONJ4h.jpg" alt="">
                            </div>
                        </div>
                        <!-- <div class="thum-image">
                            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; inset: auto; z-index: auto; width: 240px; height: 55px; margin: 0px; overflow: hidden;">
                                <ul id="gallery_01" class="prev-thum" style="text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 840px; height: 55px;">
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-01.jpg" data-zoom-image="images/products/Large/products-01.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-02.jpg" data-zoom-image="images/products/Large/products-02.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-03.jpg" data-zoom-image="images/products/Large/products-03.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-04.jpg" data-zoom-image="images/products/Large/products-04.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-05.jpg" data-zoom-image="images/products/Large/products-05.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a class="control-left" id="thum-prev" href="javascript:void(0);" style="display: block;">
                                <i class="fa fa-chevron-left">
                              </i>
                            </a>
                            <a class="control-right" id="thum-next" href="javascript:void(0);" style="display: block;">
                                <i class="fa fa-chevron-right">
                              </i>
                            </a>
                        </div> -->
                    </div>
                    <div class="products-description">
                        <h5 class="name">
                            {{tuixach.tenTuiXach}}
                        </h5>

                        <p>
                        </p>
                        <p></p>
                        <hr class="border">
                        <div class="price">
                            Giá :
                            <span class="new_price">
                              {{tuixach.gia|number}}Đ
                          </span>
                        </div>
                        <hr class="border">
                        <div class="wided">

                            <div class="button_group">
                                <a (click)="addToCart(tuixach.maTuiXach)" href="javascript:">
                                    <button class="button">
                                      Thêm giỏ hàng
                                  </button>
                                </a>
                                <button class="button favorite">
                                  <i class="fa fa-heart-o">
                                  </i>
                              </button>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <hr class="border">
                        <img src="images/share.png" alt="" class="pull-right">
                    </div>
                </div>
                <div class="clearfix">
                </div>

                <div class="clearfix">
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="special-deal leftbar">
                    <h4 class="title">
                        <strong>
                          Sản Phẩm
                      </strong> đặc biệt
                    </h4>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/User/images/products/thum/fc7605869e745f2a06655.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Licoln Corner Unit
                            </p>
                            <h5 class="price">
                                300,000Đ
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/User/images/products/thum/b1f5c1055af79ba9c2e62.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Licoln Corner Unit
                            </p>
                            <h5 class="price">
                                300,000Đ
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/User/images/products/thum/43863576ae846fda36953.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Licoln Corner Unit
                            </p>
                            <h5 class="price">
                                300,000Đ
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>

                <div class="clearfix">
                </div>

                <div class="clearfix">
                </div>
                <div class="clearfix">
                </div>
            </div> -->
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
